.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-login {
    height: 30vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-login {
      animation: App-logo-spin infinite 20s linear;
    }
  }